
<body>
  <div class="navbar">
    <ul class="nav navbar-nav">

      <li>
        <a class="allC" routerLink="Register" href="#" routerLinkActive="mycls">הרשמה
          <img height="25" width="25" src="../../assets/הרשמה.jpg" />
        </a>
      </li>
      <li>
        <a class="allC" routerLink="login" href="#" routerLinkActive="mycls">התחברות
          <img height="25" width="25" src="../../assets/התחברות.png"/>
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</body>